.Cookie {
  background-color: #a34f0096;
  color: white;
  border-radius: 6px;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.Cookie p {
  font-size: 2.5rem;
}

.Cookie figcaption {
  font-style: italic;
  font-size: 1.5rem;
  text-align: right;
  color: #9e6004;
}
